name: Go CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Build
        run: go build -v ./...

      - name: Run Tests
        run: go test -v ./core/...

  release:
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: linux
            arch: amd64
          - os: darwin
            arch: arm64
          - os: linux
            arch: arm64   # Pour Raspberry Pi 4/5, serveurs Cloud ARM
          - os: linux
            arch: arm     # Pour les anciens Raspberry Pi / IoT
          - os: windows
            arch: amd64
    steps:
      - uses: actions/checkout@v4

      - name: Build HexaWX
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
        run: |
          BINARY_NAME=hexawx_${{ matrix.os }}_${{ matrix.arch }}
          if [ "${{ matrix.os }}" = "windows" ]; then BINARY_NAME+=".exe"; fi
          go build -v -o $BINARY_NAME .

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ matrix.os }}-${{ matrix.arch }}
          path: hexawx_*
