name: Go CI

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24' # 1.25 n'est pas encore stable en fév 2026
      - name: Run Tests
        run: go test -v ./core/...

  build:
    needs: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: linux
            arch: amd64
          - os: darwin
            arch: arm64
          - os: linux
            arch: arm64
          - os: linux
            arch: arm
          - os: windows
            arch: amd64
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          mkdir -p dist
          BINARY_NAME=hexawx_${{ matrix.os }}_${{ matrix.arch }}
          if [ "${{ matrix.os }}" = "windows" ]; then BINARY_NAME+=".exe"; fi
          GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build -v -o dist/$BINARY_NAME ./cmd/server/main.go
      
      - name: Temporary Save
        uses: actions/upload-artifact@v4
        with:
          name: bin-${{ matrix.os }}-${{ matrix.arch }}
          path: dist/*

  publish:
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Download all binaries
        uses: actions/download-artifact@v4
        with:
          path: all-binaries
          merge-multiple: true # Très important : met tout dans le même dossier

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: all-binaries/*
          name: Release ${{ github.ref_name }}
          generate_release_notes: true # GitHub générera le changelog pour toi !
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
